<%- include('partials/header', { title: 'Reset Your Password', appName: appName }) %>

<h2>Reset Your Password</h2>

<p>Hi <%= name %>,</p>

<p>We received a request to reset your password for your <%= appName %> account. If you made this request, click the button below to reset your password.</p>

<p style="text-align: center;">
    <a href="<%= resetUrl %>" class="button">Reset Password</a>
</p>

<div class="warning">
    <p><strong>Important:</strong> This password reset link will expire in 1 hour for security reasons.</p>
</div>

<p>If the button above doesn't work, you can also copy and paste the following link into your browser:</p>
<div class="url-link"><%= resetUrl %></div>

<div class="highlight">
    <p><strong>Security Notice:</strong></p>
    <p>If you didn't request a password reset, please ignore this email. Your password will remain unchanged. For your security, we recommend changing your password regularly.</p>
</div>

<p>If you have any concerns about the security of your account, please contact our support team immediately.</p>

<p>Best regards,<br>
The <%= appName %> Team</p>

<%- include('partials/footer', { appName: appName }) %>
